* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000;
  color: #fff;
  padding: 1rem;
}

.flex-container {
  display: flex;
  align-items: center;
}

.Stop-watch {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  border-bottom: 2px solid #333;
  padding-bottom: 3rem;
  margin-top: 10rem;
}

.Stop-watch__container {
  text-align: center;
  margin-bottom: 6rem;
  font-size: 8rem;
}

.Stop-watch__buttons {
  width: 100%;
  justify-content: space-between;
}

button {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background: #333;
  color: #aaa;
  font-size: 1.4rem;

  border: none;
  outline: 2px solid #333;
}

.laps-container {
  justify-content: space-between;
  border-bottom: 2px solid #333;
  padding: 1.5rem;
}

.hidden {
  display: none;
}
